<server>

    <featureManager>
        <feature>batchManagement-1.0</feature>
        <feature>localConnector-1.0</feature>
        <!--
        <feature>mpOpenAPI-2.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>restConnector-2.0</feature>
        -->
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443"/>

     <logging traceSpecification="BonusPayout=finer:com.ibm.ws.batch.JobLogger=finest:com.ibm.jbatch.container.services.impl.*=all:com.ibm.ws.jbatch.*=fine:RRA=fine"/>

   <administrator-role>
      <user>bob</user>
   </administrator-role>


    <dataSource id="batchDB" type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="DerbyLib"/>
        <properties createDatabase="create" databaseName="${db.url}" user="user" password="pass"/>
    </dataSource>

    <library id="DerbyLib">
        <fileset dir="${shared.resource.dir}" includes="derby*jar"/>
    </library>
       
    <databaseStore dataSourceRef="batchDB" id="BatchDatabaseStore" schema="test" tablePrefix="AB">
        <persistenceProperties eclipselink.logging.level="FINER" javax.persistence.schema-generation.create-database-schemas="true"/>
    </databaseStore>

    <batchPersistence jobStoreRef="BatchDatabaseStore"/>

    <keyStore id="defaultKeyStore" password="Liberty"/>

    <basicRegistry id="basic" realm="ibm/api">
        <user name="bob" password="bobpwd"/>
        <user name="jane" password="janepwd"/>
        <user name="sam" password="sampwd"/>
    </basicRegistry>

    <authorization-roles id="com.ibm.ws.batch">
        <security-role name="batchAdmin">
            <user name="bob"/>
        </security-role>
        <security-role name="batchAdmin">
            <user name="jane"/>
        </security-role>
        <security-role name="batchSubmitter">
            <user name="sam"/>
        </security-role>
    </authorization-roles>
</server>
